@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply grid place-content-center min-h-screen bg-slate-200;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#add-btn {
  & span {
    @media (max-width: 435px) {
      display: none;
    }

    @media (min-width: 435px) {
      display: block;
    }
  }

  & svg {
    @media (max-width: 435px) {
      display: block;
    }

    @media (min-width: 435px) {
      display: none;
    }
  }
}
